<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="80%">
        <main>
            <h1>Welcome to the NekoGoo Baka Hub!</h1>
            <!-- <h2>Entertainment</h2> -->
            <mat-divider></mat-divider>

            <!-- <h3>Blog Articles</h3> -->

            <h3>News</h3>
            <p>
                Get the latest info on stuff I have planned, am learning, or find interesting and worth a share.&nbsp; Content generally swings between
                wholesome,
                horny, and derpy.
            </p>

            <!-- <h5>Characters</h5>
            <ul>
                <li><i>Character Assets</i>: body parts, mental traits, stat perks, etc.</li>
                <li><i>Relationships</i>: character social status in relation to others</li>
                <li><i>Reputations</i>: factions, tribes, towns, religions, clubs, etc.</li>
                <li>Example 04</li>
                <li>Example 05</li>
                <li>Example 06</li>
            </ul> -->

            <h5>YouTube Channels</h5>
            <ul>
                <li>
                    <a href="https://www.youtube.com/channel/UCx_4XIMPtT3HQb0emNfbAyg" target="_blank" rel="noreferrer">NekoGoo Clone</a>: MMDs, highlight
                    clips, misc.
                </li>
                <li><a href="https://www.youtube.com/channel/UCwV-V3E4slWUqHIRwqah0mQ" target="_blank" rel="noreferrer">NekoGoo Gaming</a>: edited game
                    play
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCJWIf5l-3Ob5Al-DxksSA2w" target="_blank" rel="noreferrer">NekoGoo Reacts</a>: sharing
                    opinions about other content
                </li>
                <!-- <li><a href="https://www.youtube.com/channel/UCiY9FYfWK_xjyws6PupiG6g" target="_blank">NekoGoo Stream</a>: archive for past VoDs</li> -->
            </ul>
            <br />

            <!-- <h6>Planned</h6>
            <ul>
                <li>NekoGoo Codes: programming, web design, unity, and more.</li>
            </ul> -->

            <div fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutGap="24px grid" fxLayoutAlign="start start">
                <div fxFlex.gt-xs="50%" fxFlex>
                    <h3>Streaming</h3>
                    <p>
                        Catch me live on <a href="https://www.twitch.tv/NekoGooClone" target="_blank" rel="noreferrer">twitch.tv/NekoGooClone</a> for games and
                        memes.&nbsp; I enjoy anything involving monster girls, superpowers, fantasy, and sci-fi.&nbsp; I can often be found casually streaming
                        Final
                        Fantasy XIV &amp; other random games.
                    </p>
                </div>
                <div fxFlex.gt-xs="50%" fxFlex>
                    <h3>Games</h3>
                    <p>
                        I am developing a lewd, text-based RPG that will be free-to-play in browser.&nbsp; It will feature a strong emphasis on body
                        transformation,
                        relationships, &amp; dynamic story content.
                        <!-- <br /> -->
                        <!-- Any support is appreciated but never required. -->
                    </p>
                </div>
            </div>
        </main>
    </div>
</div>