/* https://www.cssportal.com/css-text-gradient-generator */

body {
  max-width: 100%;
  overflow-x: hidden;

  /* background-color: #ffffe6; */
  /* background-image: linear-gradient(#3CC, #6FF); */
  background-color: #ccffff;
  background-image: linear-gradient(to bottom right, #ccffff, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* @media screen and (min-width: 600px) {
    body {
        background-color: lavender;
        background-image: linear-gradient(lavender, lavender);
    }
} */

// --- SCROLLBAR STYLES (https://codepen.io/GhostRider/pen/oNvoNv) ---
body::-webkit-scrollbar,
.mat-dialog-content::-webkit-scrollbar {
  width: 8px;
  // background-color: #f5f5f5;
  background-color: #ffccff;
}
body::-webkit-scrollbar-track,
.mat-dialog-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // border-radius: 10px;
  // background-color: #f5f5f5;
  background-color: #ffccff;
}
body::-webkit-scrollbar-thumb,
.mat-dialog-content::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  background-color: #fff;
  // background-image: -webkit-gradient(
  //   linear,
  //   40% 0%,
  //   75% 84%,
  //   from(#00ffff),
  //   to(#00ffff),
  //   color-stop(0.6, #99ffff)
  // );
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#660066),
    to(#660066),
    color-stop(0.6, #cc00cc)
  );
}

img {
  max-width: 100%;
}

.inline_header {
  font-style: italic;
  color: purple;
}

/* -------- Home Page -------- */

app-home,
app-demo-font {
  .mat-divider {
    margin: 1rem 0 !important;
    border-top-color: rgba(0, 0, 0, 0.25);
  }
  ul {
    margin-top: 0;
  }
}

/* -------- Header Background Styling -------- */

app-home,
app-demo-font,
app-about {
  h1,
  h2,
  h3,
  h4 {
    padding: 8px 24px;
    /* background-color: #3C275A; */
    /* background-color: #4d004d; */
    background-image: linear-gradient(#660066, #4d004d);
    border: 1px solid #f8d210;
    border-radius: 24px 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
}

/* -------- NekoGoo Color Samples -------- */

.color_circle {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  height: 1.25em;
  width: 1.25em;
  vertical-align: middle;
}
.bg_banana {
  background: #ffe866;
}
.bg_cream {
  background: #fefefa;
}
.bg_cyan {
  background: cyan;
}
.bg_tangerine {
  background: #f28500;
}
.bg_grey {
  background: #808080;
}
.bg_platinum {
  background: #e5e4e2;
}

// --- Dialogs / Modals ---

.nekogoo-modal-noscroll {
  overflow-y: hidden;
}

$screen-sm: 600px;
$screen-md: 960px;

.nekogoo-modal-about {
  // extra small (0-600px, e.g. smart phone)
  width: 95vw;
  max-width: 95vw !important;
  // small (600-960px, e.g. tablet)
  @media screen and (min-width: $screen-sm) {
    width: 80vw;
  }
  // medium (960-1280px)
  @media screen and (min-width: $screen-md) {
    width: 60vw;
  }
  // large (1280-1920px)
}

.pad-text {
  padding: 0 8px;
}
