/* -------- Typography -------- */

/* (fonts/typefaces, size, style, position/spacing, color) */
/*
  --- Fonts / Typefaces ---
  - font-family
  
  --- Size ---
  - font-size
  - line-height

  --- Position / Spacing ---
  - text-align

  --- Style ---
  - font-weight
  - font-style
  - text-decoration

  --- Color ---
  - color
*/

/* https://ansrsource.com/elements-of-typography */
/* https://careerfoundry.com/en/blog/ui-design/beginners-guide-to-typography */

/* -------- Nav toolbar -------- */

.nekogoo-logo {
  font-size: xx-large;
  /* text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px; */
  -webkit-text-stroke: 1px darkcyan; /* outline trace */
}

/* Targeting .mat-typography activates more overrides without requiring !important */

/* -------- Body -------- */

body.mat-typography .mat-mdc-tooltip {
  font-size: 14px;
  line-height: 21px;
}

/* --- Links --- */
body.mat-typography a {
  color: #453674;
  text-decoration: none;
}
body.mat-typography a:visited {
  color: #3c275a;
}
body.mat-typography a:hover {
  text-decoration: underline;
}

/* --- Tooltip text (dotted underline) --- */
/* .mat-tooltip-trigger { */
body.mat-typography .tooltip-underline {
  border-bottom: 1px dotted #c90;
  text-decoration: none;
  color: #212529;
}

/* --- Dialog (Modal) --- */
body.mat-typography .cdk-overlay-container {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* -------- Overall NekoGoo Pages -------- */

/* --- Headers --- */
body.mat-typography [app-theme='main'] h1,
body.mat-typography [app-theme='main'] h3,
body.mat-typography [app-theme='main'] h5 {
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  font-weight: 500;
}

body.mat-typography [app-theme='main'] h1 {
  font-size: 2.2rem;
  line-height: 2.7rem;
  font-style: italic;
  text-align: center;
}
body.mat-typography [app-theme='main'] h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}
body.mat-typography [app-theme='main'] h5 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

body.mat-typography [app-theme='main'] h1,
body.mat-typography [app-theme='main'] h2,
body.mat-typography [app-theme='main'] h3,
body.mat-typography [app-theme='main'] h4 {
  color: white;
}

body.mat-typography [app-theme='main'] figcaption {
  /* font-size: 1rem; */ /* 16px expected */
  /* line-height: 1.5rem; */
  font-size: 0.875rem; /* 14px expected */
  line-height: 1.3125rem;
}
body.mat-typography [app-theme='main'] figcaption a {
  font-style: italic;
}

/* -------- Home Page -------- */

body.mat-typography [app-theme='main'] p,
body.mat-typography [app-theme='main'] li {
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
