<goo-modal-header msg="NekoGoo Special Attributes" (closeFunc)="onNoClick()"></goo-modal-header>


<div mat-dialog-content cdkFocusInitial>
    <goo-pill>Shape-Shifting</goo-pill>
    <p>
        NekoGoo has been an anomaly even in their own dimension.&nbsp; Most slimes are incapable of speech or holding form, a 'messy' species that
        constantly drips all over the place or leaves residue behind.&nbsp; However, NekoGoo is (usually) able to stay together with minimal
        effort.&nbsp; NekoGoo may still suck at appearing human but is exceedingly good at shape and feel.
    </p>
    <p>
        If you've ever seen the T-1000 in Terminator 2, NekoGoo's ability to liquify &amp; morph their shape is virtually the same.&nbsp; The only
        difference is (instead of metal) they're about as durable as a giant gummybear and cannot mimic finer details such as individual strands of
        hair.
    </p>

    <goo-pill>Slime Tentacles</goo-pill>
    <p>
        NekoGoo's "hair" and "tail" are actually prehensile appendages.&nbsp; They can grab/lift things, change direction at any point, absorb water,
        and even be used to perform more questionable activities.
    </p>

    <goo-pill>Caustics</goo-pill>
    <p>
        The light that passes through NekoGoo's transluscent slime body can oftentimes create
        <a href="https://en.wikipedia.org/wiki/Caustic_(optics)" target="_blank" class="tooltip-underline" tabIndex="-1"
            matTooltip="light rays refracted/bent by a surface" rel="noreferrer">water caustics</a> along the inner surfaces.
    </p>
</div>


<!-- cdkFocusInitial: declare initial focus element (https://material.angular.io/cdk/a11y/overview#regions) -->
<!-- <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->