<!-- https://material.angular.io/components/toolbar -->
<mat-toolbar class="nekogoo-toolbar-bg h-sm mat-elevation-z3">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center" class="h-sm">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->

        <button mat-button routerLink="" class="nekogoo-logo candy-shop">NekoGoo</button>

        <div fxFlex>
            <!-- <div fxLayout="row wrap" fxLayoutAlign="end start"> -->
            <div fxLayout="row wrap" fxLayoutAlign="center">
                <button mat-button routerLink="">Home</button>
                <button mat-button routerLink="/about">About</button>
                <!-- <button mat-button routerLink="/blog">Blog</button> -->
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>