@font-face {
  font-family: 'CaskaydiaCoveNerdFontMono';
  src: url('../../assets/fonts/CascadiaCode/Caskaydia Cove Nerd Font Complete Mono.ttf');
}
.caskaydia-cove-mono {
  font-family: 'CaskaydiaCoveNerdFontMono';
}
