@font-face {
  font-family: 'CaskaydiaCoveNerdFontWindows';
  src: url('../../assets/fonts/CascadiaCode/Caskaydia Cove Nerd Font Complete Windows Compatible.ttf');
}
.caskaydia-cove-windows {
  font-family: 'CaskaydiaCoveNerdFontWindows';
}
