<!-- <app-header></app-header>
<br /> -->

<div class="coc-theme mat-elevation-z3">
    <coc-header></coc-header>
    <br />

    <!-- <div fxLayout="row wrap">
        <div fxFlex>
            <mat-card class="main-container">
                <mat-card-title class="align-center">{{ title }}</mat-card-title>
                <br /><br />
    
                <mat-card-content>
                    <router-outlet></router-outlet>
                </mat-card-content>
            </mat-card>
        </div>
    </div> -->

    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
        <div fxFlex>
            <coc-sidebar></coc-sidebar>
        </div>
        <div>
            <router-outlet></router-outlet>
            <!-- <br /><br /> -->
            <coc-footer></coc-footer>
        </div>
    </div>
</div>
<br /><br />