@font-face {
  font-family: 'CaskaydiaCoveNerdFontMono';
  src: url('/assets/fonts/CascadiaCode/v2.1.0/Caskaydia Cove Nerd Font Complete Mono.ttf');
}
.caskaydia-cove-mono {
  font-family: 'CaskaydiaCoveNerdFontMono';
}
