@font-face {
  font-family: 'CaskaydiaCoveNerdFontMonoWindows';
  src: url('../../assets/fonts/CascadiaCode/Caskaydia Cove Nerd Font Complete Mono Windows Compatible.ttf');
}
.caskaydia-cove-mono-windows {
  font-family: 'CaskaydiaCoveNerdFontMonoWindows';
}
