@font-face {
  font-family: 'CaskaydiaCoveNerdFontWindows';
  src: url('/assets/fonts/CascadiaCode/v2.1.0/Caskaydia Cove Nerd Font Complete Windows Compatible.ttf');
}
.caskaydia-cove-windows {
  font-family: 'CaskaydiaCoveNerdFontWindows';
}
