@font-face {
  font-family: 'CaskaydiaCoveNerdFont';
  src: url('../../assets/fonts/CascadiaCode/Caskaydia Cove Nerd Font Complete.ttf');
}
.caskaydia-cove {
  font-family: 'CaskaydiaCoveNerdFont';
}
