html,
body {
  min-height: 100% !important;
}

body {
  /* background-color: #ffffe6; */
  /* background-image: linear-gradient(#3CC, #6FF); */
  background-color: #ccffff;
  background-image: linear-gradient(to bottom right, #ccffff, white);
}
/* @media screen and (min-width: 800px) {
    body {
        background-color: lavender;
        background-image: linear-gradient(lavender, lavender);
    }
} */

/* -------- Site Navigation Panel -------- */

.nav-main-bg {
  background-image: linear-gradient(white, #ffffcc);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.nekogoo-color p {
  background: #ffe866;
  background: -webkit-repeating-linear-gradient(to bottom right, #ffe866 0%, #ffe866 40%, #fefefa 50%, #00ffff 60%, #00ffff 100%);
  background: -moz-repeating-linear-gradient(to bottom right, #ffe866 0%, #ffe866 40%, #fefefa 50%, #00ffff 60%, #00ffff 100%);
  background: repeating-linear-gradient(to bottom right, #ffe866 0%, #ffe866 40%, #fefefa 50%, #00ffff 60%, #00ffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nekogoo-header {
  background: #fff099;
  background: -webkit-repeating-linear-gradient(to bottom right, #fff099 0%, #fff099 40%, #fefefa 50%, #00ffff 60%, #00ffff 100%);
  background: -moz-repeating-linear-gradient(to bottom right, #fff099 0%, #fff099 40%, #fefefa 50%, #00ffff 60%, #00ffff 100%);
  background: repeating-linear-gradient(to bottom right, #fff099 0%, #fff099 40%, #fefefa 50%, #00ffff 60%, #00ffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Additional styling beyond color */
  position: absolute;
  top: -3px;
  font-size: xx-large;
  /* text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px; */
  -webkit-text-stroke: 1px darkcyan;
}

footer {
  position: fixed;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
}

/* -------- Landing Page -------- */

#zoneLanding {
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  margin: 50px 100px 0;
  margin: 0 auto;
}

#zoneLanding h1 {
  text-align: center;
  font-style: italic;
}
#zoneLanding h1,
h2,
h3,
h4 {
  padding: 8px 24px;
  /* background-color: #3C275A; */
  /* background-color: #4d004d; */
  background-image: linear-gradient(#660066, #4d004d);
  border: 1px solid #f8d210;
  border-radius: 24px 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  color: white;
}

#zoneLanding a {
  color: #453674;
  text-decoration: none;
}
#zoneLanding a:hover {
  background-color: #d6a800;
  color: #4f3674;
  text-decoration: underline;
}
#zoneLanding a:visited {
  color: #3c275a;
}

/* -------- About Page -------- */

#zoneAbout figcaption {
  text-align: center;
}
#zoneAbout p {
  /* https://www.sitepoint.com/understanding-and-using-rem-units-in-css */
  font-size: 1.25rem; /* 20px; */
}

.rounded-img-bottom {
  border-radius: 0 0 50% 50%;
  max-width: 100%;
}

#aboutOptions button:not(:first-of-type) {
  margin-left: 5px;
}

/* -------- Modal -------- */

[data-bs-toggle='tooltip'] {
  border-bottom: 1px dotted #c90;
  text-decoration: none;
  color: #212529;
}

.modal-header {
  background-image: linear-gradient(white, #ffffcc);
}
.modal-title {
  font-style: italic;
}
.modal-body .rounded-pill {
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
}

.color_circle {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
  height: 1.25em;
  width: 1.25em;
  vertical-align: middle;
}
.bg_banana {
  background: #ffe866;
}
.bg_cream {
  background: #fefefa;
}
.bg_cyan {
  background: cyan;
}
.bg_tangerine {
  background: #f28500;
}
.bg_grey {
  background: #808080;
}
.bg_platinum {
  background: #e5e4e2;
}

p.lineb {
  border-bottom: 1px solid #e3e3e3;
}
.inline_header {
  font-style: italic;
  color: purple;
}

/* -------- Experimental Area -------- */

.font-preview p {
  /* font-size: xx-large; */
  font-size: 4rem;
  font-style: italic;
  /* https://www.cssportal.com/css-text-gradient-generator */
}

#navMainZone iframe {
  border: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
