<div class="main-layout">
    <main app-theme="main">
        <div class="about-content-layout">
            <figure>
                <img src="assets/images/2022-11-19-Zie-no-bg.png" alt="full-body image of NekoGoo, a slime-girl with 6 arms and 9 tails" />
                <figcaption>
                    * art by
                    <a href="https://twitter.com/mildh4nn" target="_blank" rel="noreferrer">mih4nn</a>
                </figcaption>
            </figure>

            <div>
                <h3>About NekoGoo</h3>

                <div class="about-text-container pad-text">
                    <p>Hello there!</p>
                    <p>
                        I am NekoGoo, a fruit slime monster (primarily banana) from another dimension.&nbsp; Being raised by a clan of catgirls, I adopted
                        many of their personalities &amp; quirks.&nbsp; Nowadays, I'm stuck in this "Earth" world due to void magic gone awry.&nbsp;
                        I initially tried getting home.. but there are so many games and snacks I want to try first!&nbsp;
                        <span class="tw-text-nowrap">=(✪ω✪)=</span>
                        <!-- https://cutekaomoji.com/animals/cats -->
                    </p>
                    <!-- <p>I enjoy streaming games and chatting about my favorite hobbies like videogames, superheroes, fantasy, sci-fi, anime, and vtubers.</p> -->
                    <p>I enjoy chatting about my favorite hobbies like videogames, superheroes, fantasy, sci-fi, anime, and vtubers.</p>
                    <p>
                        You can also find me designing and programming my own text-based RPG on this site, which will be free to play upon release.&nbsp;
                        Keep checking back for more, nya!~
                    </p>
                    <br />

                    <!-- <mat-chip-list aria-label="Modal selection">
                                    <mat-chip selected color="accent" (click)="openAppearanceDialog()">Appearance</mat-chip>
                                    <mat-chip selected color="accent" (click)="openPersonalityDialog()">Personality</mat-chip>
                                    <mat-chip selected color="accent" (click)="openSpecialDialog()">Special Attributes</mat-chip>
                                </mat-chip-list> -->

                    <div class="about-modal-selectors" aria-label="Modal selection">
                        <button mat-stroked-button color="accent" class="mat-elevation-z1" (click)="openAppearanceDialog()">Appearance</button>
                        <button mat-stroked-button color="accent" class="mat-elevation-z1" (click)="openSpecialDialog()">Special Attributes</button>
                        <button mat-stroked-button color="accent" class="mat-elevation-z1" (click)="openPersonalityDialog()">Personality</button>
                    </div>
                </div>
            </div>
            <br /><br />

        </div>
    </main>
</div>