<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="80%">
        <main>
            <div fxLayout.gt-xs="row wrap" fxLayout="column" fxLayoutGap="24px grid" fxLayoutAlign="start start">
                <div fxFlex.gt-xs="50%" fxFlex>
                    <figure>
                        <a [href]="imgNekoGooFull">
                            <img [src]="imgNekoGooHead" class="rounded-img-bottom" alt="NekoGoo profile pic" />
                        </a>
                        <figcaption>
                            * art courtesy of
                            <a href="https://twitter.com/blyzzarde" target="_blank" rel="noreferrer">Blyzzarde</a>
                        </figcaption>
                    </figure>
                </div>

                <div fxFlex.gt-xs="50%" fxFlex>
                    <h3>About NekoGoo</h3>
                    <!-- <br /> -->

                    <p>Hello, there!</p>
                    <p>
                        I am NekoGoo, a fruit slime monster (primarily banana) from another dimension.&nbsp; Being raised by a clan of catgirls, I adopted many
                        of their
                        personalities &amp; quirks.&nbsp; Nowadays, I'm stuck in this 'Earth' world due to teleportation magic gone awry.&nbsp; I initially
                        tried
                        getting home.. but there are so many games and snacks I want to try first!&nbsp; =(✪ω✪)=
                        <!-- https://cutekaomoji.com/animals/cats -->
                    </p>
                    <p>I enjoy streaming games and chatting about my favorite hobbies like videogames, superheroes, fantasy, sci-fi, anime, and vtubers.</p>
                    <p>
                        You can also find me designing and programming my own text-based RPG on this site, which will be free to play upon release.&nbsp; Keep
                        checking
                        back for more, nya!~
                    </p>

                    <!-- <mat-chip-list aria-label="Modal selection">
                        <mat-chip selected color="accent" (click)="openAppearanceDialog()">Appearance</mat-chip>
                        <mat-chip selected color="accent" (click)="openPersonalityDialog()">Personality</mat-chip>
                        <mat-chip selected color="accent" (click)="openSpecialDialog()">Special Attributes</mat-chip>
                    </mat-chip-list> -->

                    <div class="about-modal-selectors" aria-label="Modal selection">
                        <button mat-stroked-button color="accent" class="mat-elevation-z1" (click)="openAppearanceDialog()">Appearance</button>
                        <button mat-stroked-button color="accent" class="mat-elevation-z1" (click)="openPersonalityDialog()">Personality</button>
                        <button mat-stroked-button color="accent" class="mat-elevation-z1" (click)="openSpecialDialog()">Special Attributes</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>