/* @import 'coc'; */
@import '../../../../../styles/coc/index.css';

/* https://www.w3schools.com/colors/colors_picker.asp */
.nekogoo-nav-toolbar-bg {
  /* background-image: linear-gradient(white, #ffffcc); */
  /* background-image: linear-gradient(white, #00ff99); */
  background-image: linear-gradient(white, #66ff99);
  background-image: linear-gradient(white, BlanchedAlmond);
  /* background-image: linear-gradient(white, lavender); */
  /* background-image: linear-gradient(white, ivory); */
}

.mat-toolbar,
.mat-toolbar-row {
  height: auto;
  min-height: auto;
}

/* --- Info Table Styling --- */
/* https://material.angular.io/components/table/examples */

.info-table {
  width: 100%;
}

.info-table th.mat-mdc-header-cell,
.info-table th.mat-mdc-header-cell:first-of-type,
.info-table td.mat-mdc-cell,
.info-table td.mat-mdc-cell:first-of-type {
  padding: 0 3px;
}

/* .info-table .mat-mdc-header-cell {
    text-align: center;
  } */

.info-table .mat-mdc-row:hover {
  /* background-color: #ccffff; // cyan */
  background-color: #ccffee;
}

/* Table Cell Styling (by columm definition) */

.info-table .mat-column-type.mat-mdc-header-cell,
.info-table .mat-column-type.mat-mdc-cell {
  /* border-right: 1px solid rgba(0, 0, 0, 0.12); */
  text-align: center;
}

.info-table .mat-column-title.mat-mdc-cell {
  font-weight: bold;
  /* font-style: italic; */
}

/* --- Info Detail Table Styling --- */

.info-detail-table {
  width: 100%;
}

.info-detail-table th.mat-mdc-header-cell,
.info-detail-table th.mat-mdc-header-cell:first-of-type,
.info-detail-table td.mat-mdc-cell,
.info-detail-table td.mat-mdc-cell:first-of-type {
  padding: 0 6px;
  /* vertical-align: top; */
}

/* Table Cell Styling (by columm definition) */

.info-detail-table .mat-column-0.mat-mdc-cell {
  /* font-weight: bold; */
  font-style: italic;
}
