:host {
  display: block;
}

// https://www.w3schools.com/colors/colors_picker.asp
.nekogoo-nav-toolbar-bg {
  // background-image: linear-gradient(white, #ffffcc);
  // background-image: linear-gradient(white, #00ff99);
  background-image: linear-gradient(white, #66ff99);
  background-image: linear-gradient(white, BlanchedAlmond);
  // background-image: linear-gradient(white, lavender);
  // background-image: linear-gradient(white, ivory);
}

.mat-toolbar,
.mat-toolbar-row {
  height: auto;
  min-height: auto;
}

// --- Info Styling ---

.mat-card-title {
  text-align: center;
}

// --- Table Styling ---
// https://material.angular.io/components/table/examples

.info-table {
  width: 100%;

  // --- Table Cell Styling ---

  th.mat-header-cell,
  th.mat-header-cell:first-of-type,
  td.mat-cell,
  td.mat-cell:first-of-type {
    padding: 0 3px;
  }

  // .mat-header-cell {
  //   text-align: center;
  // }

  .mat-row:hover {
    // background-color: #ccffff; // cyan
    background-color: #ccffee;
  }

  // --- Table Cell Styling (by columm definition) ---

  .mat-column-type.mat-header-cell,
  .mat-column-type.mat-cell {
    // border-right: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
  }

  .mat-column-title.mat-cell {
    font-weight: bold;
    // font-style: italic;
  }
}

.info-detail-table {
  width: 100%;

  // --- Table Cell Styling ---

  th.mat-header-cell,
  th.mat-header-cell:first-of-type,
  td.mat-cell,
  td.mat-cell:first-of-type {
    padding: 0 6px;
    // vertical-align: top;
  }

  // --- Table Cell Styling (by columm definition) ---

  .mat-column-0.mat-cell {
    // font-weight: bold;
    font-style: italic;
  }
}
