<!-- https://material.angular.io/components/toolbar -->
<mat-toolbar class="nekogoo-nav-toolbar-bg mat-elevation-z3" style="margin-top: -19px;">
    <!-- <mat-toolbar-row> -->
    <mat-toolbar-row class="coc-nav-subheader-layout">
        <!-- <div fxLayout="row wrap" fxLayoutAlign="center"> -->
        <div>
            <button mat-button routerLink="/coc"><i>Corruption of Champions</i></button>
        </div>
        <div>
            Info:
            <button mat-button routerLink="/coc/info/attributes">Attributes</button>
            <button mat-button routerLink="/coc/info/effects">Effects</button>
            <button mat-button routerLink="/coc/info/tags">Tags</button>
        </div>
        <div>
            <button mat-button routerLink="/coc/info/roadmap">Roadmap</button>
        </div>
        <!-- </div> -->
    </mat-toolbar-row>
</mat-toolbar>
<br />

<router-outlet></router-outlet>