/* -------- Angular Materials Dialog (Modal) -------- */

/* --- Shift padding from the container to each modal section (header, body, footer) --- */

.mat-mdc-dialog-container .mat-mdc-dialog-title,
.mat-mdc-dialog-container .mat-mdc-dialog-content {
  @apply tw-p-3 !important;
}
.mat-mdc-dialog-container .mat-mdc-dialog-title {
  @apply tw-py-2 tw-mb-0 !important;
}

.mat-mdc-dialog-container .mat-mdc-icon-button {
  @apply tw-p-0 !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-content ul {
  @apply tw-mb-3;
}

/* --- Other Styling --- */

/* Modal Header */
[app-theme='modal'] .mat-mdc-dialog-title {
  background-image: linear-gradient(white, #ffffcc);
  border-bottom: 1px solid #dee2e6;
  line-height: 30px;
  font-style: italic;
  @apply tw-flex tw-flex-row;
  @apply tw-content-center tw-items-center tw-justify-center;
}
[app-theme='modal'] .mat-mdc-dialog-title > * {
  @apply tw-flex-1;
}
[app-theme='modal'] .mat-mdc-dialog-title > *:first-child {
  @apply tw-basis-full tw-max-w-full;
}

[app-theme='modal'] .mat-mdc-dialog-title .mat-icon {
  @apply tw-flex tw-flex-row;
  @apply tw-content-center tw-items-center tw-justify-center;
}

/* Close button (line-height should match between .mat-mdc-icon-button and .mat-mdc-dialog-title) */
[app-theme='modal'] .mat-mdc-icon-button {
  line-height: 30px !important;
  height: 30px !important;
  width: 30px !important;
}

[app-theme='modal'] .mat-mdc-icon-button .mat-icon {
  line-height: 24px !important;
  height: 24px !important;
  width: 24px !important;
}
[app-theme='modal'] .mat-mdc-icon-button .material-icons {
  font-size: 24px !important;
}
