/* -------- Toolbar (Navigation) -------- */

body.mat-typography .nekogoo-toolbar-bg {
  background-image: linear-gradient(white, #ffffcc);
  /* box-shadow redundant with .mat-elevation-z3 but is softer */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.nekogoo-color p {
  background: var(--nekogoo-color-gradient);
  background-clip: text; /* Apply gradient only to text */
  -webkit-text-fill-color: transparent;
  /* -webkit-text-stroke: 1px darkcyan; */ /* outline trace */
}

footer {
  position: fixed;
  bottom: 4px;
  width: 100%;
}
