/* -------- Typography -------- */

// (fonts/typefaces, size, style, position/spacing, color)
/*
  --- Fonts / Typefaces ---
  - font-family
  
  --- Size ---
  - font-size
  - line-height

  --- Style ---
  - font-weight
  - font-style
  - text-decoration

  --- Position / Spacing ---
  - text-align

  --- Color ---
  - color
*/

// https://ansrsource.com/elements-of-typography
// https://careerfoundry.com/en/blog/ui-design/beginners-guide-to-typography

// Targeting .mat-typography activates more overrides without requiring !important
body.mat-typography {
  .coc-theme {
    /* -------- Corruption of Champions: Overall Views -------- */

    h2 {
      font-size: 1.2em;
    }

    // --- Buttons ---
    .button {
      font-family: 'Palatino Linotype', Palatino, Georgia, serif;
      text-shadow: 1px 1px 1px #333333;
      font-size: 16px;
      line-height: 38px;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      color: #000000;
    }
    .button:hover {
      color: #00ffff;
    }
    .button:active {
      color: #00ffff;
    }

    /* -------- Game Main Stage -------- */

    // --- Tooltip Display ---
    .coc-tooltip {
      h4 {
        font-family: Georgia, 'Times New Roman', serif;
      }
      p {
        font-size: 0.8em;
      }
    }

    /* -------- Game Sidebar -------- */

    // --- Stats Display ---
    .coc-stats {
      p {
        line-height: 1.4em;
      }
    }
    .statlabel {
      font-family: 'Palatino Linotype', Palatino, Georgia, 'Times New Roman',
        sans-serif;
      font-size: 12px;
      color: #000000;
      text-shadow: 1px 1px 5px #333333;
    }
    .statnum {
      font-family: 'Palatino Linotype', Palatino, Georgia, 'Times New Roman',
        serif;
      font-size: 18px;
      text-align: right;
      color: black;
      text-shadow: 1px 1px 5px #333333;
    }
    // --- Time Display ---
    .timeDisplay {
      font-family: 'Lucida Console', 'Courier New', monospace;
    }
  }
}
