<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="80%">
        <main>
            <h1>Demo: Font Styling</h1>
            <hr />

            <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start start" class="font-preview nekogoo-color">
                <div fxFlex="calc(50% - 16px)">
                    <h4>Bubble Bobble</h4>
                    <p>
                        <span class="bubble-bobble">NekoGoo Clone</span>
                    </p>
                </div>
                <div fxFlex="calc(50% - 16px)">
                    <h4>Candy Pop</h4>
                    <p>
                        <span class="candy-pop">NekoGoo Clone</span>
                    </p>
                </div>
                <div fxFlex="calc(50% - 16px)">
                    <h4>Candy Shop</h4>
                    <p>
                        <span class="candy-shop">NekoGoo Clone</span>
                    </p>
                </div>
                <div fxFlex="calc(50% - 16px)">
                    <h4>Chocolate Bar</h4>
                    <p>
                        <span class="chocolate-bar">NekoGoo Clone</span>
                    </p>
                </div>
                <div fxFlex="calc(50% - 16px)">
                    <h4>Gummy</h4>
                    <p>
                        <span class="gummy">NekoGoo Clone</span>
                    </p>
                </div>
                <!-- <div  fxFlex="calc(50% - 16px)">
                        <h4>Gummy Book</h4>
                        <p>
                            <span class="gummy-book">NekoGoo Clone</span>
                        </p>
                    </div> -->
                <div fxFlex="calc(50% - 16px)">
                    <h4>Reglisse Back</h4>
                    <p>
                        <span class="reglisse-back">NekoGoo Clone</span>
                    </p>
                </div>
                <div fxFlex="calc(50% - 16px)">
                    <h4>Reglisse Fill</h4>
                    <p>
                        <span class="reglisse-fill">NekoGoo Clone</span>
                    </p>
                </div>
                <div fxFlex="calc(50% - 16px)">
                    <h4>Reglisse Regular</h4>
                    <p>
                        <span class="reglisse-regular">NekoGoo Clone</span>
                    </p>
                </div>

                <!-- Caskaydia Cove -->
                <!-- <div  fxFlex="calc(50% - 16px)">
                        <h4>Caskaydia Cove Nerd Font Mono Windows</h4>
                        <p>
                            <span class="caskaydia-cove-mono-windows">NekoGoo Clone</span>
                        </p>
                    </div>
                    <div  fxFlex="calc(50% - 16px)">
                        <h4>Caskaydia Cove Nerd Font Mono</h4>
                        <p>
                            <span class="caskaydia-cove-mono">NekoGoo Clone</span>
                        </p>
                    </div>
                    <div  fxFlex="calc(50% - 16px)">
                        <h4>Caskaydia Cove Nerd Font Windows</h4>
                        <p>
                            <span class="caskaydia-cove-windows">NekoGoo Clone</span>
                        </p>
                    </div>
                    <div  fxFlex="calc(50% - 16px)">
                        <h4>Caskaydia Cove Nerd Font</h4>
                        <p>
                            <span class="caskaydia-cove">NekoGoo Clone</span>
                        </p>
                    </div> -->
            </div>
        </main>
    </div>
</div>