@use 'font-faces/BubbleBobble';
@use 'font-faces/CandyPop';
@use 'font-faces/CandyShop';
@use 'font-faces/ChocolateBar';
@use 'font-faces/Gummy';
@use 'font-faces/ReglisseBack';
@use 'font-faces/ReglisseFill';
@use 'font-faces/ReglisseRegular';

.font-preview {
  p {
    font-size: 4rem;
    line-height: 6rem;
    font-style: italic;
  }
}
