<!-- <div app-theme='main' fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center"> -->
<!-- <div fxFlex="80%"> -->
<!-- <main> -->
<div class="main-layout">
    <main app-theme="main">
        <h1>Demo: Font Styling</h1>
        <mat-divider></mat-divider>

        <!-- <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start start" class="font-preview nekogoo-color"> -->
        <!-- <div fxFlex="50%" *ngFor="let font of demoFontStyles"> -->
        <div class="demo-font-layout font-preview nekogoo-color">
            <div *ngFor="let font of demoFontStyles">
                <h4>{{font.title}}</h4>
                <p><span class="{{font.class}}">NekoGoo Clone</span></p>
            </div>
        </div>
    </main>
</div>
<!-- </div> -->