:host {
  display: block;
}

.mat-card-title {
  text-align: center;
}

// --- Table Styling ---
// https://material.angular.io/components/table/examples

.tag-table {
  width: 100%;

  // --- Table Cell Styling ---

  .mat-header-cell,
  .mat-cell {
    padding: 0 3px;
  }

  .mat-header-cell {
    text-align: center;
  }

  .mat-row:hover {
    // background-color: #ccffff; // cyan
    background-color: #ccffee;
  }

  // --- Table Cell Styling (by columm definition) ---

  .mat-column-type.mat-cell {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
  }

  .mat-column-title.mat-cell {
    font-weight: bold;
    // font-style: italic;
  }
}
