<goo-modal-header msg="NekoGoo Personality" (closeFunc)="onNoClick()"></goo-modal-header>


<div mat-dialog-content cdkFocusInitial>
    <goo-pill>Common Mood States</goo-pill>
    <p>Timid, Mellow, Horni, Derpy, Determined</p>

    <goo-pill>Likes</goo-pill>
    <ul>
        <li>warmth, hugs, booba, collecting skimpy outfits in games</li>
        <li>foods: sweat, ejaculate, nuggies, sparshetti and meatsalls, spicy shtuff</li>
        <li>music: synthwave/retrowave/chillwave, rock (psychedelic, grunge, metal, classic)</li>
        <li>super powers, manga, comic books, fantasy</li>
        <li>talking about game design, theorycrafting, or programming</li>
        <li>being a completionist; planning more than I can handle</li>
        <li>cooking, doing dishes, long walks</li>
        <li>finding dank memes &amp; vtuber compilations</li>
    </ul>

    <goo-pill>Dislikes</goo-pill>
    <!-- <ul style="list-style-type: circle;"> -->
    <ul>
        <li>generalizations &amp; assumptions</li>
        <li>feeling like I "have to" do something</li>
        <li>most things made with soy sauce or coffee flavor</li>
        <li>being enveloped in huge crowds</li>
        <!-- <li>letting people down; always want to live up to my word</li> -->
        <li>failing to recognize trolling (why so serious?)</li>
        <!-- <li>people obnoxiously confident in their "fact" anecdotes</li> -->
    </ul>

    <goo-pill>Interests</goo-pill>
    <ul>
        <li>
            <span class="inline_header">Videogames:</span>&nbsp; FFXIV, Halo, Rocket League, Terraria, Sims 3, KOTOR, Left 4 Dead, Elder Scrolls
            <br />
            <small>*used to play: WoW, League of Legends, Marvel Heroes Omega (rip)</small>
        </li>
        <li>
            <span class="inline_header">Movies:</span>&nbsp; Lord of the Rings, Back to the Future, Shaolin Soccer, Incredibles, Inside Out, Naked
            Gun, Robocop, Ghostbusters, Star Wars, Terminator, Blues Brothers, Cosmos, Crouching Tiger Hidden Dragon, Iron Monkey, Ninja Scroll,
            Perfect Blue, Shin Godzilla
        </li>
        <li>
            <span class="inline_header">Series:</span>&nbsp; Monty Python's Flying Circus, Firefly, The Boys, Harley Quinn, Invader Zim, Avatar: The
            Last Airbender, The Critic, X-Men: Evolution
        </li>
        <li>
            <span class="inline_header">Anime:</span>&nbsp; KonoSuba, Ranma 1/2, FLCL, Chobits, Mob Psycho, Spirited Away, GoldenBoy, Laid-Back
            Camp, Tanaka-kun is Always Listless, Tonari no Seki-kun, Keijo!!!!!!!!, D-Frag, Excel Saga, How Not to Summon a Demon Lord, Attack on
            Titan, Trigun, Cowboy Bebop, Killing Bites, Dr. Stone
        </li>
        <li>
            <span class="inline_header">Manga &amp; Comics:</span>&nbsp; Monster Musume, The Great Jahy Will Not Be Defeated!, Love Hina, KissXsis,
            The Exiles, Astonishing X-Men, Superior Spider-Man
        </li>
    </ul>
</div>


<!-- cdkFocusInitial: declare initial focus element (https://material.angular.io/cdk/a11y/overview#regions) -->
<!-- <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->