<header class="p-2 mb-4 border-bottom nav-main-bg">
    <nav class="container d-flex flex-wrap">
        <ul class="nav justify-content-lg-start col-12 col-lg-auto me-lg-auto">
            <li class="nav-item">
                <a routerLink="" class="nav-link px-2 candy-shop nekogoo-header">NekoGoo</a>
            </li>
        </ul>
        <ul class="nav justify-content-center col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
            <li class="nav-item" routerLinkActive="selected">
                <a routerLink="" class="nav-link ml-5 px-2 link-secondary">Home</a>
            </li>
            <!-- <li class="nav-item"><a class="nav-link px-2 link-dark">Blog</a></li> -->
            <li class="nav-item" routerLinkActive="selected">
                <a routerLink="about" class="nav-link ml-5 px-2 link-dark">About</a>
            </li>
        </ul>
    </nav>
</header>