:host {
  display: block;
}

// https://www.w3schools.com/colors/colors_picker.asp
.nekogoo-nav-toolbar-bg {
  // background-image: linear-gradient(white, #ffffcc);
  // background-image: linear-gradient(white, #00ff99);
  background-image: linear-gradient(white, #66ff99);
  background-image: linear-gradient(white, BlanchedAlmond);
  // background-image: linear-gradient(white, lavender);
  // background-image: linear-gradient(white, ivory);
}

.mat-toolbar,
.mat-toolbar-row {
  height: auto;
  min-height: auto;
}
