<!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center"> -->
<!-- <mat-card fxFlex.gt-xs="80%" fxFlex> -->
<div class="main-layout">
    <mat-card app-theme="coc">
        <p>coc works!</p>
        <br /><br />

        <!-- <a routerLink="/coc/play">Play Demo Now!</a> -->

        <!-- <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex>
                <button mat-stroked-button color="accent" routerLink="/coc/play" class="mat-elevation-z1 align-center">Play Demo Now!</button>
            </div>
        </div> -->

        <button mat-stroked-button color="accent" routerLink="/coc/play" class="play-demo mat-elevation-z1">Play Demo Now!</button>
    </mat-card>
</div>